@using Entities.Concrete
@model List<Blog>

    <div class="tech-btm">
        <h4>Yazarın Diğer Yazıları</h4>
        @foreach (var blog in Model)
        {
        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="#">
                    <img src="~/CoreBlogTheme/images/1.jpg" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="single.html">@blog.BlogTitle </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> @blog.BlogCreateDate.ToShortDateString()
                    </span>
                </div>
            </div>
        </div>
        }
    </div>
