@model DotNetCoreCamp.Controllers.Class1
@{
	ViewData["Title"] = "EditEmployee";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Api ile Personel Güncelleme Sayfası</h1>
<form method="post">
	<label>#</label>
	@Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
	<br />
	<label>Personel</label>
	@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
	<br />
	<button class="btn btn-outline-success">Güncelle</button>
</form>