<div class="tech-btm">
    <h4>Mail bültenine abone olun.</h4>
    <p>Teknoloji, yazılım ve diğer bloklar...</p>
    <form action="/NewsLetter/SubscribeMail" method="post">
        <input type="email" placeholder="E-mail" required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>
</div>