<div class="comment-top">
    <h4>Yorumunuzu Bırakın!</h4>
    <div class="comment-bottom">
        <form action="#" method="post">
            <input class="form-control" type="text" name="Name" placeholder="Adınız..." required="">
            <input class="form-control" type="email" name="Email" placeholder="Mail Adresiniz..." required="">

            <input class="form-control" type="text" name="Subject" placeholder="Konu..." required="">

            <textarea class="form-control" name="Message" placeholder="Mesajınız..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Submit</button>
        </form>
    </div>
</div>