@model IEnumerable<Entities.Concrete.Comment>

@if (Model.Count() != 0)
{
    <div class="comment-top">
        <h4>Yorumlar</h4>
        @foreach (var comment in Model)
        {

            <div class="media">
                <img src="~/CoreBlogTheme/images/t1.jpg" alt="" class="img-fluid" />
                <div class="media-body">
                    <h5 class="mt-0">@comment.CommentUserName - @comment.CommentTitle</h5>
                    <p>
                        @comment.CommentContent
                    </p>
                </div>
            </div>
        }
        <div class="comment-top">
            <h4>Yorumunuzu Bırakın!</h4>
            <div class="comment-bottom">
                <form action="#" method="post">
                    <input class="form-control" type="text" name="Name" placeholder="Adınız..." required="">
                    <input class="form-control" type="email" name="Email" placeholder="Mail Adresiniz..." required="">

                    <input class="form-control" type="text" name="Subject" placeholder="Konu..." required="">

                    <textarea class="form-control" name="Message" placeholder="Mesajınız..." required=""></textarea>
                    <button type="submit" class="btn btn-primary submit">Yorum Yap</button>
                </form>
            </div>
        </div>
    </div>
}
@if (Model.Count() <= 0)
{
    <div class="comment-top">
        <div class="comment-top">
            <h4>İlk Yorumu Siz Bırakın!</h4>
            <div class="comment-bottom">
                <form action="#" method="post">
                    <input class="form-control" type="text" name="Name" placeholder="Adınız..." required="">
                    <input class="form-control" type="email" name="Email" placeholder="Mail Adresiniz..." required="">

                    <input class="form-control" type="text" name="Subject" placeholder="Konu..." required="">

                    <textarea class="form-control" name="Message" placeholder="Mesajınız..." required=""></textarea>
                    <button type="submit" class="btn btn-primary submit">Yorum Yap</button>
                </form>
            </div>
        </div>
    </div>
}

@*<div class="comment-top">
        <h4>İlk Yorumu Siz Bırakın!</h4>
        <div class="comment-bottom">
            <form action="#" method="post">
                <input class="form-control" type="text" name="Name" placeholder="Adınız..." required="">
                <input class="form-control" type="email" name="Email" placeholder="Mail Adresiniz..." required="">

                <input class="form-control" type="text" name="Subject" placeholder="Konu..." required="">

                <textarea class="form-control" name="Message" placeholder="Mesajınız..." required=""></textarea>
                <button type="submit" class="btn btn-primary submit">Submit</button>
            </form>
        </div>
    </div>*@

